apiVersion: apps/v1
kind: Deployment
metadata:
  name: sqrbot
spec:
  replicas: 0
  template:
    spec:
      containers:
        - name: sqrbot-app
          image: lsstsqre/sqrbot-jr:0.6.0
          env:
            - name: SQRBOTJR_SLACK_SIGNING
              valueFrom:
                secretKeyRef:
                  name: sqrbot-jr  # not automatically patched by kustomize nameSuffix
                  key: SQRBOTJR_SLACK_SIGNING
            - name: SQRBOTJR_SLACK_TOKEN
              valueFrom:
                secretKeyRef:
                  name: sqrbot-jr  # not automatically patched by kustomize nameSuffix
                  key: SQRBOTJR_SLACK_TOKEN
            - name: SQRBOTJR_SLACK_APP_ID
              valueFrom:
                secretKeyRef:
                  name: sqrbot-jr  # not automatically patched by kustomize nameSuffix
                  key: SQRBOTJR_SLACK_APP_ID
          volumeMounts:
            - name: "client-tls"
              mountPath: "/var/strimzi-client"
              readOnly: True
            - name: "broker-tls"
              mountPath: "/var/strimzi-broker"
              readOnly: True
      volumes:
        # Mount the TLS secret created by KafkaUser
        - name: "client-tls"
          secret:
            secretName: kafkauser-sqrbot-jr  # matches name of KafkaUser
        - name: "broker-tls"
          secret:
            secretName: "events-cluster-ca-cert" # matches name of Strimzi cluster cluster CA cert secret
