apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-server
spec:
  template:
    spec:
      containers:
      - name: argocd-server
        # Run argocd-server in "insecure" mode to allow ingress to do TLS.
        command:
        - argocd-server
        - --insecure
        - --staticassets
        - /shared/app
        - argocd
