apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Storage classes
  - resources/ssd-storageclass.yaml
  # Namespaces
  - resources/prometheus-ns.yaml
  - resources/strimzi-ns.yaml
  - resources/events-ns.yaml
  - resources/events-dev-ns.yaml
  - resources/sealed-secrets-ns.yaml
  - resources/logging-ns.yaml
  # Applications
  - resources/argo-cd.yaml
  - resources/prometheus.yaml
  - resources/strimzi.yaml
  - resources/events-dev.yaml
  - resources/events.yaml
  - resources/sealed-secrets.yaml
  - resources/logging.yaml
